<html>
<body>
<p>Madre:
<p>Nombre = {{Madre_nombre}}
<p>edad = {{Madre_edad}}
<p>documento = {{Madre_documento}}
<p>fecha de nacimiento = {{Madre_fecha_nacimiento}}
<p>parentezco = {{Madre_parentezco}}

<p>Padre:
<p>Nombre = {{Padre_nombre}}
<p>edad={{Padre_edad}}
<p>documento={{Padre_documento}}
<p>fecha de nacimiento = {{Padre_fecha_nacimiento}}
<p>parentezco = {{Padre_parentezco}}

<p>Hermano:
<p>Nombre = {{Hermano_nombre}}
<p>edad = {{Hermano_edad}}
<p>documento= {{Hermano_documento}}
<p>fecha de nacimiento = {{Hermano_fecha_nacimiento}}
<p>parentezco = {{Hermano_parentezco}}</p>
</body>
</html>